body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center-div {
  margin: 0 auto;
}
.main {
    background-color: #12325c;
    width: 650px;
    padding: 60px 30px;
    color: white;
    border-radius: 26px 26px 0px 0px;
    text-align: center;
}
.pink-button {
  background-color: #ff6666;
  color: #c1cddc;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 30px;
  text-align: center;
  border-radius: 0px 22px 22px 22px;
  font-weight: bold;
  width: 30%;
}
.pink-button a {
    color: lightgrey;
    text-decoration: none;
}
.pink-button a:hover {
    color: white;
}