@model Container

<div class="container">
    <h3>New Class Listing</h3>
    <form asp-action="ProcessClass" asp-controller="Fitness" method="POST">
        <partial name="_ClassFormPartial" />
    </form>
</div>